Repository accesso-app/admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "eslint --config ./.eslintrc.json --fix",
    "stylelint --config ./.stylelintrc --fix",
    "prettier --config ./.prettierrc --write"
  ],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --config ./.prettierrc --write --parser json"
  ]
}

ci(docker-image): fix path to image
  .github/workflows/docker-image.yml
Due: none

chore: remove old file
  config-overrides.js
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: setup framework
  .eslintrc.json
  jest.config.js
  package.json
  scripts/paths.js
  scripts/webpack.config.prod.js
  src/app/application.tsx
  src/app/index.tsx
  src/app/service-worker.ts
  src/application.tsx
  src/entities/navigation/index.ts
  src/entities/session/index.ts
  src/index.tsx
  src/jest-setup.ts
  src/pages/home/contract.ts
  src/pages/home/index.tsx
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/index.ts
  src/pages/paths.ts
  src/pages/routes.ts
  src/shared/lib/format/index.ts
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

Create linear-linker.yml
  .github/workflows/linear-linker.yml
Due: none

Update index.ts
  src/entities/session/index.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add session handler
  openapi.yaml
  package.json
  src/api/index.ts
  src/api/request/index.ts
  src/app/application.tsx
  src/app/index.tsx
  src/entities/session/index.ts
  src/features/navigation/index.ts
  src/features/session/index.ts
  src/features/session/model.ts
  src/pages/home/page.tsx
  src/pages/login/contract.ts
  src/pages/login/index.tsx
  src/pages/login/model.ts
  src/pages/login/page.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

feat: Add stub for auth-settings request
  src/features/auth/index.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: Add styled button to login page feat: Add global styles
  src/api/index.ts
  src/api/request/index.ts
  src/app/application.tsx
  src/app/globals.ts
  src/pages/login/index.tsx
  src/pages/login/page.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: get rid of openapi file
  openapi.yaml
Due: none

fix: rename click event
  src/pages/login/model.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: handle login button click
  src/pages/login/index.tsx
  src/pages/login/model.ts
  src/pages/login/page.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add auth parmas url fix: backend build compile
  src/features/auth/index.ts
  src/pages/login/model.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

fix: redirect with params
  scripts/webpack.config.dev.js
  src/api/index.ts
  src/api/request/index.ts
  src/features/auth/index.ts
  src/features/session/model.ts
  src/pages/login/model.ts
  src/pages/oauth-done/contract.ts
  src/pages/oauth-done/index.ts
  src/pages/oauth-done/model.ts
  src/pages/oauth-done/page.tsx
  src/pages/paths.ts
  src/pages/routes.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

fix: set accesso.local host, remove debug props
  src/api/request/index.ts
  src/features/session/model.ts
  src/pages/oauth-done/model.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

Reinitialize admin
  .dockerignore
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .github/workflows/docker-image.yml
  .github/workflows/linear-linker.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .gitignore
  .prettierrc
  Dockerfile
  index.html
  nginx.conf
  package.json
  postcss.config.js
  src/app/favicon.svg
  src/app/main.css
  src/app/main.tsx
  src/entities/navigation/index.tsx
  src/pages/applications/index.ts
  src/pages/applications/page.tsx
  src/pages/dashboard/index.ts
  src/pages/dashboard/page.tsx
  src/pages/index.ts
  src/pages/not-found/index.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/shared/ui/atoms/index.ts
  src/shared/ui/atoms/table.tsx
  src/shared/ui/index.ts
  src/vite-env.d.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

feat(gqty): with effector working bad
  gqty.config.cjs
  package.json
  src/app/main.tsx
  src/entities/navigation/index.tsx
  src/pages/applications/index.ts
  src/pages/applications/model.ts
  src/pages/applications/page.tsx
  src/shared/api/index.ts
  src/shared/api/schema.generated.ts
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

refactor: add root ~/ resolver
  babel.config.js
  package.json
  src/app/main.tsx
  src/pages/applications/model.ts
  src/pages/applications/page.tsx
  src/pages/dashboard/page.tsx
  src/pages/not-found/index.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

style: add import sort
  .prettierrc
  package.json
  postcss.config.js
  src/app/main.tsx
  src/entities/navigation/index.tsx
  src/pages/applications/index.ts
  src/pages/applications/model.ts
  src/pages/applications/page.tsx
  src/pages/dashboard/page.tsx
  src/pages/index.ts
  src/pages/not-found/index.tsx
  src/pages/routes.ts
  src/shared/api/index.ts
  vite.config.ts
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

feat: improve loading of data from gqty
  src/app/main.tsx
  src/pages/applications/model.ts
  src/shared/api/schema.generated.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add new applications page
  gqty.config.cjs
  src/entities/navigation/index.tsx
  src/pages/applications-new/index.ts
  src/pages/applications-new/model.ts
  src/pages/applications-new/page.tsx
  src/pages/applications/page.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/shared/api/schema.generated.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: improve tags
  src/pages/applications/model.ts
  src/pages/applications/page.tsx
  src/pages/paths.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add registration requests
  src/app/main.css
  src/entities/navigation/index.tsx
  src/pages/applications/page.tsx
  src/pages/paths.ts
  src/pages/registration-requests/common.ts
  src/pages/registration-requests/index.ts
  src/pages/registration-requests/model.ts
  src/pages/registration-requests/page.tsx
  src/pages/routes.ts
  src/shared/api/schema.generated.ts
  tailwind.config.js
  vite.config.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add list of registration requests
  package.json
  src/app/main.tsx
  src/pages/applications/page.tsx
  src/pages/registration-requests/common.ts
  src/pages/registration-requests/model.ts
  src/pages/registration-requests/page.tsx
  src/shared/ui/atoms/index.ts
  src/shared/ui/atoms/table.tsx
  src/shared/ui/atoms/tag.tsx
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

feat: add empty state
  src/pages/registration-requests/model.ts
  src/pages/registration-requests/page.tsx
  src/shared/ui/atoms/table.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add responsive
  src/pages/applications/page.tsx
  src/pages/registration-requests/page.tsx
  src/shared/ui/atoms/table.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add responsiveness for navigation
  src/entities/navigation/index.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

fix: building
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

fix: do not babel node modules
  babel.config.js
  vite.config.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: set api url
  src/shared/api/index.ts
  vite.config.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

build: allow for spa
  nginx.conf
Due: none

build: add index for spa
  nginx.conf
Due: none

feat: set index for spa
  nginx.conf
Due: none

fix: dev server graphql
  vite.config.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

fix: try to show index on 404
  nginx.conf
Due: none

feat: add users list
  src/pages/paths.ts
  src/pages/registration-requests/page.tsx
  src/pages/routes.ts
  src/pages/users/common.ts
  src/pages/users/index.ts
  src/pages/users/model.ts
  src/pages/users/page.tsx
  src/shared/ui/atoms/empty-state.tsx
  src/shared/ui/atoms/index.ts
  src/shared/ui/atoms/table.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add incomplete user view page
  src/entities/navigation/index.tsx
  src/pages/routes.ts
  src/pages/users-view/common.ts
  src/pages/users-view/index.ts
  src/pages/users-view/model.ts
  src/pages/users-view/page.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add user view page with form
  src/pages/users-view/model.ts
  src/pages/users-view/page.tsx
  src/shared/ui/atoms/button.tsx
  src/shared/ui/atoms/card.tsx
  src/shared/ui/atoms/index.ts
  src/shared/ui/atoms/input-field.tsx
  src/shared/ui/atoms/paragraph.tsx
  src/shared/ui/index.ts
  src/shared/ui/templates/description.tsx
  src/shared/ui/templates/index.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: improve user page with fix
  src/pages/users-view/model.ts
  src/pages/users-view/page.tsx
  src/shared/ui/atoms/card.tsx
  src/shared/ui/atoms/index.ts
  src/shared/ui/atoms/note.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: enable search users
  src/pages/users/model.ts
  src/pages/users/page.tsx
  src/shared/api/schema.generated.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write
