Repository accesso-app/admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

feat: add user editing
  src/pages/users-view/common.ts
  src/pages/users-view/model.ts
  src/pages/users-view/page.tsx
  src/pages/users/model.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

ci: handle release creating
  .github/workflows/docker-image.yml
Due: none

0.1.0
  package.json
Due: prettier --config ./.prettierrc --write --parser json

0.2.0
  package.json
Due: prettier --config ./.prettierrc --write --parser json

feat: add form for edit application
  package.json
  src/app/form-checkbox.css
  src/app/main.css
  src/pages/applications-edit/index.ts
  src/pages/applications-edit/model.ts
  src/pages/applications-edit/page.tsx
  src/pages/routes.ts
  src/shared/ui/atoms/checkbox.tsx
  src/shared/ui/atoms/index.ts
  tailwind.config.js
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

feat: change hardcoded css for checkbox to @tailwindcss/forms fix: use actual code for saving
  package.json
  src/app/form-checkbox.css
  src/app/main.css
  src/pages/applications-edit/model.ts
  src/pages/users/page.tsx
  src/shared/api/schema.generated.ts
  src/shared/ui/atoms/checkbox.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --write --parser json

fix: possible undefined redirect uri
  src/pages/applications-edit/model.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

fix: ACC-139
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write --parser json

Copy nginx file
  Dockerfile
Due: none

feat: add option to regenerate register requests and improve UX
  src/pages/registration-requests/model.ts
  src/pages/registration-requests/page.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

refactor: move browser app from framework to fix not loading data
  src/app/main.tsx
  src/pages/registration-requests/model.ts
  src/shared/lib/framework.ts
  src/shared/lib/navigation.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: allow to generate much reg requests simultaneously
  src/pages/registration-requests/index.ts
  src/pages/registration-requests/model.ts
  src/pages/registration-requests/page.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: add pending state for user profile saving
  src/pages/users-view/model.ts
  src/pages/users-view/page.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

chore: do not use array for clock in apps edit
  src/pages/applications-edit/model.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat: upgrade browserslist
  yarn.lock
Due: none

fix(nginx): config for SPA
  nginx.conf
Due: none

feat: upgrade effector
  .prettierrc
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write --parser json

feat: upgrade docker, nginx, vite, node
  Dockerfile
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write --parser json

feat(app/edit): allow easily add new redirect urls
  src/app/main.css
  src/pages/applications-edit/model.ts
  src/pages/applications-edit/page.tsx
  src/shared/ui/atoms/input-field.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat(app/edit): cleanup empty redirect uri before save
  src/pages/applications-edit/model.ts
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat(app/edit): add support to regenerating secret key
  src/app/main.css
  src/pages/applications-edit/model.ts
  src/pages/applications-edit/page.tsx
  src/pages/users-view/page.tsx
  src/shared/ui/atoms/button.tsx
  src/shared/ui/atoms/index.ts
  src/shared/ui/atoms/separator.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

feat(users/view): simple show registrations in app
  src/pages/users-view/common.ts
  src/pages/users-view/model.ts
  src/pages/users-view/page.tsx
  src/pages/users/page.tsx
Due: eslint --config ./.eslintrc.json --fix, stylelint --config ./.stylelintrc --fix, prettier --config ./.prettierrc --write

Path conditions:
  eslint --config ./.eslintrc.json --fix: any of: *.{ts,tsx,js,jsx,mjs}
  stylelint --config ./.stylelintrc --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --config ./.prettierrc --write: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --config ./.prettierrc --write --parser json: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
